%h3. FitNesse Analyzer
%div.content_wrapper 
	%legend
		Run FIT Analyzer
	%p
		%input{:type => "textbox", :name => "feeling", :id => "feeling"}
	%p
		%input{:type => "submit", :value => "Submit"}
		
		