!!!
%html  
  %head  
    %title QA Ruby Tools  
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")  
    %link(rel="stylesheet" href="css/styles.css")  
  %body  
    #wrapper 
      %br 
      %h1 Welcome To QA's Ruby Tools Page
      %br
      %h3 You will find Axman reports along with a Fitnesse static code analyzer here 
      %br
