!!!
%html
%head
  %title QA Ruby Tools
  %link(rel="stylesheet" href="css/styles.css")
%body
  %div.banner
  %div.menu
    %div.content_wrapper 
      You will find AxMan Reports, FitNesse Analyzer, and Environment scripts here...