!!!
%html
  %head
    %title QA Ruby Tools
    %link(rel="stylesheet" href="css/styles.css")
  %body
    
    %div.banner
      %header
        %h1 QA Ruby Tools
    
    %div.menu
      -# :javascript
      %ul.buttons
        %li
          %a(href="/")Home
        %li
          %a(href="reports")AxMan Reports
        %li
          %a(href="analyzer")FIT Analyzer
        %li 
          %a(href="environment")Environment
    
    %div.content_wrapper
      =yield

    %div.footer
      %p
        Blackboard QA 2012
