%br
%h1 Axman Reports
<br>
<p>
<b>1. Click <a href="http://ruby-qa.pd.local:4567/axman1">here</a> to download the report covering newly available tests that are unassigned in Axman</b>
</p>
<br>
<p>
<b>2. Click <a href="http://ruby-lang.org">here</a> to download the report covering the tests which failed the past 30 days</b>
</p>
%br


