%h3.headline Axman Reports
%div.content_wrapper
	%p 1. Click <a href="/axman1">here</a> to download the report covering newly available tests that are unassigned in Axman
	%p 2. Click <a href="http://ruby-lang.org">here</a> to download the report covering the tests which failed the past 30 days
	
	